/*navbar*/
@media (max-width:600px){
    .btn-nav{
        top: 10px;
    }
    .navbar-toggler{
        font-size: 2rem;
    }
}

/*header*/

@media (max-width:600px){
    .icon-header{
        margin-left: 24%;
    }
}

@media (max-width: 768px) {
    .text-header p{
        font-size: 12pt;
        min-width: 55%;
    }
}

@media (max-width: 645px) {
    .title-header{
        font-size: 19pt;
        padding-bottom: 10px;
    }

    .desktop-text {
        display: block;
        background: rgba(255, 255, 255 , 0.65);
        border-radius: 10px;
        margin: 10px
    }

}
@media  (min-width:768px) and (max-width: 1024px){
    .title-header{
        font-size: 18pt;
        padding-bottom: 10px;
    }
}


/*product*/
@media (max-width:768px) {
    .card1{
        padding-top: 50px;
    }
    .icon-product{
        width: 10%;
    }
}

/*about us*/
@media(max-width:768px) {
    .img-article{
        max-height: 250px;
    }
   
    .fa-address-card{
        width: 10%;
    }
}

/*get in tounch*/
@media(max-width:768px) {
    .p-r-t{
        padding-top: 15px;
    }
    .icon-contact{
        width: 10%;
    }
}

/*footer*/
    @media(max-width:600px) {
        .background-footer{
            height: 100%!important;
            
        }
    }

/*how is works*/
@media  (max-width:600px) {
    .btn-how-works{
        padding: 20px 20px 20px 20px;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;

    }
    .low-padding{
        padding: 0 0 0 20px!important;
    }
    .low-font-size{
        font-size: 21pt;
    }
}
